table {
    color: black;
}

tr, td, th {
    padding: 15px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td {
    text-align: center;
}

.link {
    margin-top: 20px;
}